:root {
  --primary: #1c1c22;
  --accent: #64ffb9;
  --accent-hover: #00ff99d0;
  --scrollbar-thumb: #ffffff66;
  --scrollbar-thumb-hover: #ffffff33;

  --header-height: 80px;
}

@theme inline {
  --font-primary: var(--font-jetbrains);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --text-primary: var(--primary);
  --color-accent-hover: var(--accent-hover);
}

@layer base {
  body,
  html {
    @apply h-full bg-primary;
  }

  body {
    @apply font-primary text-white antialiased overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold leading-[1.1];
  }
}

@layer components {
  .heading-xl {
    @apply text-4xl md:text-[50px] lg:text-[60px];
  }

  .heading-lg {
    @apply text-xl;
  }

  .heading-md {
    @apply text-2xl xl:text-3xl font-bold;
  }

  .body-lg {
    @apply text-sm md:text-base leading-7 text-white/80;
  }

  .body-md {
    @apply text-xs md:text-sm leading-7 text-white/80;
  }
}

@layer utilities {
  .section-padding {
    @apply py-[60px] xl:py-[120px];
  }

  .section-hero {
    @apply flex justify-center flex-col min-h-screen;
  }

  .section-inner {
    @apply flex flex-col text-left;
  }

  .section-split {
    @apply flex-col gap-12 md:gap-16 xl:flex-row items-center;
  }

  .section-center {
    @apply items-center text-center;
  }

  .header-bar {
    @apply flex items-center justify-between;
    height: var(--header-height);
  }

  .shadow-header {
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.3);
  }

  .logo-size {
    @apply w-11 h-11 md:w-12 md:h-12;
  }

  .hero-image-size {
    @apply absolute w-[289px] h-[289px]
      md:w-[350px] md:h-[345px]
      lg:w-[400px] lg:h-[395px]
      xl:w-[450px] xl:h-[445px];
  }

  .container-xs {
    @apply max-w-[768px];
  }
  .container-sm {
    @apply max-w-[900px];
  }
  .container-md {
    @apply max-w-[1024px];
  }
  .container-lg {
    @apply max-w-[1350px];
  }

  @keyframes sheet-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes sheet-out-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes overlay-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes overlay-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  [data-slot="sheet-content"][data-state="open"] {
    animation: sheet-in-right 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  }

  [data-slot="sheet-content"][data-state="closed"] {
    animation: sheet-out-right 0.3s ease-in;
  }

  [data-slot="sheet-overlay"][data-state="open"] {
    animation: overlay-in 0.3s ease-out;
  }

  [data-slot="sheet-overlay"][data-state="closed"] {
    animation: overlay-out 0.2s ease-in;
  }
}
