@import "tailwindcss";

:root {
  --primary: #1c1c22;
  --accent: #64ffb9;
  --accent-hover: #00ff99d0;

  --scrollbar-thumb: #ffffff66;
  --scrollbar-thumb-hover: #ffffff33;
}

@theme inline {
  --font-primary: var(--font-jetbrains);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --text-primary: var(--primary);
  --color-accent-hover: var(--accent-hover);
}

@layer base {
  body {
    @apply bg-primary font-primary text-white;
  }

  h1 {
    @apply text-4xl xl:text-[60px] leading-[1.1] font-semibold;
  }

  h2 {
    @apply text-3xl xl:text-5xl leading-[1.1] font-semibold;
  }

  h3 {
    @apply text-xl xl:text-2xl leading-[1.1] font-semibold;
  }
}
