@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  --color-background: var(--background);
  --font-primary: var(--font-jetbrains);
}

:root {
  --background: #1c1c22;
}

@layer base {
  body {
    @apply bg-background font-primary text-white;
  }
}
